<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Angstrom</key>
  <string>A_ngstrom.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>BASE</key>
  <string>B_A_S_E_.glif</string>
  <key>Bscript</key>
  <string>B_script.glif</string>
  <key>Cbar</key>
  <string>C_bar.glif</string>
  <key>Cdblstruck</key>
  <string>C_dblstruck.glif</string>
  <key>Cfraktur</key>
  <string>C_fraktur.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Ddblstruckitalic</key>
  <string>D_dblstruckitalic.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>Delta.c2sc</key>
  <string>D_elta.c2sc.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eopen</key>
  <string>E_open.glif</string>
  <key>Escript</key>
  <string>E_script.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Euro.OP</key>
  <string>E_uro.O_P_.glif</string>
  <key>Euro.smcp</key>
  <string>E_uro.smcp.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fscript</key>
  <string>F_script.glif</string>
  <key>Fsmallcapturned</key>
  <string>F_smallcapturned.glif</string>
  <key>Fturnedclaudian</key>
  <string>F_turnedclaudian.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gamma</key>
  <string>G_amma.glif</string>
  <key>Gamma.c2sc</key>
  <string>G_amma.c2sc.glif</string>
  <key>Gammadblstruck</key>
  <string>G_ammadblstruck.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hdblstruck</key>
  <string>H_dblstruck.glif</string>
  <key>Hfraktur</key>
  <string>H_fraktur.glif</string>
  <key>Hscript</key>
  <string>H_script.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Ifraktur</key>
  <string>I_fraktur.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Iscript</key>
  <string>I_script.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kelvin</key>
  <string>K_elvin.glif</string>
  <key>Koppa</key>
  <string>K_oppa.glif</string>
  <key>Koppa.c2sc</key>
  <string>K_oppa.c2sc.glif</string>
  <key>Koppanumeric</key>
  <string>K_oppanumeric.glif</string>
  <key>Koppanumeric.c2sc</key>
  <string>K_oppanumeric.c2sc.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lambda</key>
  <string>L_ambda.glif</string>
  <key>Lambda.c2sc</key>
  <string>L_ambda.c2sc.glif</string>
  <key>Lscript</key>
  <string>L_script.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Mscript</key>
  <string>M_script.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NBSPnarrow</key>
  <string>N_B_S_P_narrow.glif</string>
  <key>Ndblstruck</key>
  <string>N_dblstruck.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Ohorn</key>
  <string>O_horn.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Omega.c2sc</key>
  <string>O_mega.c2sc.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pdblstruck</key>
  <string>P_dblstruck.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Phi.c2sc</key>
  <string>P_hi.c2sc.glif</string>
  <key>Pi</key>
  <string>P_i.glif</string>
  <key>Pi.c2sc</key>
  <string>P_i.c2sc.glif</string>
  <key>Pidblstruck</key>
  <string>P_idblstruck.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Psi.c2sc</key>
  <string>P_si.c2sc.glif</string>
  <key>Qdblstruck</key>
  <string>Q_dblstruck.glif</string>
  <key>Qsideways</key>
  <string>Q_sideways.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Rdblstruck</key>
  <string>R_dblstruck.glif</string>
  <key>Rfraktur</key>
  <string>R_fraktur.glif</string>
  <key>Rscript</key>
  <string>R_script.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>SS</key>
  <string>S_S_.glif</string>
  <key>SS.c2sc</key>
  <string>S_S_.c2sc.glif</string>
  <key>Sampi</key>
  <string>S_ampi.glif</string>
  <key>Sampi.c2sc</key>
  <string>S_ampi.c2sc.glif</string>
  <key>Sigma</key>
  <string>S_igma.glif</string>
  <key>Sigma.c2sc</key>
  <string>S_igma.c2sc.glif</string>
  <key>Stigma</key>
  <string>S_tigma.glif</string>
  <key>Stigma.c2sc</key>
  <string>S_tigma.c2sc.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>Theta.c2sc</key>
  <string>T_heta.c2sc.glif</string>
  <key>Theta1</key>
  <string>T_heta1.glif</string>
  <key>Theta1.smcp</key>
  <string>T_heta1.smcp.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uhorn</key>
  <string>U_horn.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Upsilon1</key>
  <string>U_psilon1.glif</string>
  <key>Upsilon1.c2sc</key>
  <string>U_psilon1.c2sc.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Xi</key>
  <string>X_i.glif</string>
  <key>Xi.c2sc</key>
  <string>X_i.c2sc.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>ZWJ</key>
  <string>Z_W_J_.glif</string>
  <key>ZWNJ</key>
  <string>Z_W_N_J_.glif</string>
  <key>ZWSP</key>
  <string>Z_W_S_P_.glif</string>
  <key>Zbar</key>
  <string>Z_bar.glif</string>
  <key>Zdblstruck</key>
  <string>Z_dblstruck.glif</string>
  <key>Zfraktur</key>
  <string>Z_fraktur.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.sups</key>
  <string>a.sups.glif</string>
  <key>account</key>
  <string>account.glif</string>
  <key>acute.smcp</key>
  <string>acute.smcp.glif</string>
  <key>acutebelowcomb</key>
  <string>acutebelowcomb.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.cap</key>
  <string>acutecomb.cap.glif</string>
  <key>addressed</key>
  <string>addressed.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>ahalfringright</key>
  <string>ahalfringright.glif</string>
  <key>aktielskab</key>
  <string>aktielskab.glif</string>
  <key>aleph</key>
  <string>aleph.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>alphaLatinturned</key>
  <string>alphaL_atinturned.glif</string>
  <key>angleleftcomb</key>
  <string>angleleftcomb.glif</string>
  <key>angleleftcomb.cap</key>
  <string>angleleftcomb.cap.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>approxequalcomb</key>
  <string>approxequalcomb.glif</string>
  <key>approxequalcomb.cap</key>
  <string>approxequalcomb.cap.glif</string>
  <key>arrowheaddown</key>
  <string>arrowheaddown.glif</string>
  <key>arrowheadleft</key>
  <string>arrowheadleft.glif</string>
  <key>arrowheadright</key>
  <string>arrowheadright.glif</string>
  <key>arrowheadup</key>
  <string>arrowheadup.glif</string>
  <key>arrowrightlongcomb</key>
  <string>arrowrightlongcomb.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asmallcap</key>
  <string>asmallcap.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>asteriskbelowcomb</key>
  <string>asteriskbelowcomb.glif</string>
  <key>asterisklow</key>
  <string>asterisklow.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>aturned</key>
  <string>aturned.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>b.sups</key>
  <string>b.sups.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>barcomb</key>
  <string>barcomb.glif</string>
  <key>barlongcomb</key>
  <string>barlongcomb.glif</string>
  <key>bbar</key>
  <string>bbar.glif</string>
  <key>bet</key>
  <string>bet.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>beta1</key>
  <string>beta1.glif</string>
  <key>bhook</key>
  <string>bhook.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceleft.upright</key>
  <string>braceleft.upright.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>braceright.upright</key>
  <string>braceright.upright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketleft.upright</key>
  <string>bracketleft.upright.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bracketright.upright</key>
  <string>bracketright.upright.glif</string>
  <key>breve.smcp</key>
  <string>breve.smcp.glif</string>
  <key>breveacutecomb</key>
  <string>breveacutecomb.glif</string>
  <key>breveacutecomb.cap</key>
  <string>breveacutecomb.cap.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb.Cyrillic</key>
  <string>brevecomb.C_yrillic.glif</string>
  <key>brevecomb.Cyrillic.cap</key>
  <string>brevecomb.C_yrillic.cap.glif</string>
  <key>brevecomb.cap</key>
  <string>brevecomb.cap.glif</string>
  <key>brevedblbelowcomb</key>
  <string>brevedblbelowcomb.glif</string>
  <key>brevegravecomb</key>
  <string>brevegravecomb.glif</string>
  <key>brevegravecomb.cap</key>
  <string>brevegravecomb.cap.glif</string>
  <key>brevehookcomb</key>
  <string>brevehookcomb.glif</string>
  <key>brevehookcomb.cap</key>
  <string>brevehookcomb.cap.glif</string>
  <key>breveinvertedbelowcomb</key>
  <string>breveinvertedbelowcomb.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>breveinvertedcomb.cap</key>
  <string>breveinvertedcomb.cap.glif</string>
  <key>breveinvertedlongcomb</key>
  <string>breveinvertedlongcomb.glif</string>
  <key>breveinvertedlongcomb.cap</key>
  <string>breveinvertedlongcomb.cap.glif</string>
  <key>brevetildecomb</key>
  <string>brevetildecomb.glif</string>
  <key>brevetildecomb.cap</key>
  <string>brevetildecomb.cap.glif</string>
  <key>bridgebelowcomb</key>
  <string>bridgebelowcomb.glif</string>
  <key>bridgecomb</key>
  <string>bridgecomb.glif</string>
  <key>bridgecomb.cap</key>
  <string>bridgecomb.cap.glif</string>
  <key>bridgeinvertedbelowcomb</key>
  <string>bridgeinvertedbelowcomb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bsmallcap</key>
  <string>bsmallcap.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletleft</key>
  <string>bulletleft.glif</string>
  <key>bulletright</key>
  <string>bulletright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c.Be</key>
  <string>c.B_e.glif</string>
  <key>c.Be.c2sc</key>
  <string>c.B_e.c2sc.glif</string>
  <key>c.BigYus</key>
  <string>c.B_igY_us.glif</string>
  <key>c.BigYus.c2sc</key>
  <string>c.B_igY_us.c2sc.glif</string>
  <key>c.Che</key>
  <string>c.C_he.glif</string>
  <key>c.Che.c2sc</key>
  <string>c.C_he.c2sc.glif</string>
  <key>c.De</key>
  <string>c.D_e.glif</string>
  <key>c.De.c2sc</key>
  <string>c.D_e.c2sc.glif</string>
  <key>c.Dje</key>
  <string>c.D_je.glif</string>
  <key>c.Dje.c2sc</key>
  <string>c.D_je.c2sc.glif</string>
  <key>c.Dzhe</key>
  <string>c.D_zhe.glif</string>
  <key>c.Dzhe.c2sc</key>
  <string>c.D_zhe.c2sc.glif</string>
  <key>c.E</key>
  <string>c.E_.glif</string>
  <key>c.E.c2sc</key>
  <string>c.E_.c2sc.glif</string>
  <key>c.Ef</key>
  <string>c.E_f.glif</string>
  <key>c.Ef.c2sc</key>
  <string>c.E_f.c2sc.glif</string>
  <key>c.El</key>
  <string>c.E_l.glif</string>
  <key>c.El.c2sc</key>
  <string>c.E_l.c2sc.glif</string>
  <key>c.Fita</key>
  <string>c.F_ita.glif</string>
  <key>c.Fita.c2sc</key>
  <string>c.F_ita.c2sc.glif</string>
  <key>c.Ghe</key>
  <string>c.G_he.glif</string>
  <key>c.Ghe.c2sc</key>
  <string>c.G_he.c2sc.glif</string>
  <key>c.GheUkr</key>
  <string>c.G_heU_kr.glif</string>
  <key>c.GheUkr.c2sc</key>
  <string>c.G_heU_kr.c2sc.glif</string>
  <key>c.Hard</key>
  <string>c.H_ard.glif</string>
  <key>c.Hard.c2sc</key>
  <string>c.H_ard.c2sc.glif</string>
  <key>c.I</key>
  <string>c.I_.glif</string>
  <key>c.I.c2sc</key>
  <string>c.I_.c2sc.glif</string>
  <key>c.IeUkr</key>
  <string>c.I_eU_kr.glif</string>
  <key>c.IeUkr.c2sc</key>
  <string>c.I_eU_kr.c2sc.glif</string>
  <key>c.Izhitsa</key>
  <string>c.I_zhitsa.glif</string>
  <key>c.Izhitsa.c2sc</key>
  <string>c.I_zhitsa.c2sc.glif</string>
  <key>c.Ka</key>
  <string>c.K_a.glif</string>
  <key>c.Ka.c2sc</key>
  <string>c.K_a.c2sc.glif</string>
  <key>c.Lje</key>
  <string>c.L_je.glif</string>
  <key>c.Lje.c2sc</key>
  <string>c.L_je.c2sc.glif</string>
  <key>c.Nje</key>
  <string>c.N_je.glif</string>
  <key>c.Nje.c2sc</key>
  <string>c.N_je.c2sc.glif</string>
  <key>c.Pe.c2sc</key>
  <string>c.P_e.c2sc.glif</string>
  <key>c.Sha</key>
  <string>c.S_ha.glif</string>
  <key>c.Sha.c2sc</key>
  <string>c.S_ha.c2sc.glif</string>
  <key>c.Shcha</key>
  <string>c.S_hcha.glif</string>
  <key>c.Shcha.c2sc</key>
  <string>c.S_hcha.c2sc.glif</string>
  <key>c.Soft</key>
  <string>c.S_oft.glif</string>
  <key>c.Soft.c2sc</key>
  <string>c.S_oft.c2sc.glif</string>
  <key>c.Tse</key>
  <string>c.T_se.glif</string>
  <key>c.Tse.c2sc</key>
  <string>c.T_se.c2sc.glif</string>
  <key>c.Tshe</key>
  <string>c.T_she.glif</string>
  <key>c.Tshe.c2sc</key>
  <string>c.T_she.c2sc.glif</string>
  <key>c.U</key>
  <string>c.U_.glif</string>
  <key>c.U.c2sc</key>
  <string>c.U_.c2sc.glif</string>
  <key>c.Ya</key>
  <string>c.Y_a.glif</string>
  <key>c.Ya.c2sc</key>
  <string>c.Y_a.c2sc.glif</string>
  <key>c.Yat</key>
  <string>c.Y_at.glif</string>
  <key>c.Yat.c2sc</key>
  <string>c.Y_at.c2sc.glif</string>
  <key>c.Yeru</key>
  <string>c.Y_eru.glif</string>
  <key>c.Yeru.c2sc</key>
  <string>c.Y_eru.c2sc.glif</string>
  <key>c.Yu</key>
  <string>c.Y_u.glif</string>
  <key>c.Yu.c2sc</key>
  <string>c.Y_u.c2sc.glif</string>
  <key>c.Ze</key>
  <string>c.Z_e.glif</string>
  <key>c.Ze.c2sc</key>
  <string>c.Z_e.c2sc.glif</string>
  <key>c.Zhe</key>
  <string>c.Z_he.glif</string>
  <key>c.Zhe.c2sc</key>
  <string>c.Z_he.c2sc.glif</string>
  <key>c.be</key>
  <string>c.be.glif</string>
  <key>c.be.SRB</key>
  <string>c.be.S_R_B_.glif</string>
  <key>c.bigyus</key>
  <string>c.bigyus.glif</string>
  <key>c.che</key>
  <string>c.che.glif</string>
  <key>c.de</key>
  <string>c.de.glif</string>
  <key>c.dje</key>
  <string>c.dje.glif</string>
  <key>c.dzhe</key>
  <string>c.dzhe.glif</string>
  <key>c.e</key>
  <string>c.e.glif</string>
  <key>c.ef</key>
  <string>c.ef.glif</string>
  <key>c.el</key>
  <string>c.el.glif</string>
  <key>c.em</key>
  <string>c.em.glif</string>
  <key>c.en</key>
  <string>c.en.glif</string>
  <key>c.fita</key>
  <string>c.fita.glif</string>
  <key>c.ghe</key>
  <string>c.ghe.glif</string>
  <key>c.gheUkr</key>
  <string>c.gheU_kr.glif</string>
  <key>c.hard</key>
  <string>c.hard.glif</string>
  <key>c.ieUkr</key>
  <string>c.ieU_kr.glif</string>
  <key>c.izhitsa</key>
  <string>c.izhitsa.glif</string>
  <key>c.ka</key>
  <string>c.ka.glif</string>
  <key>c.lje</key>
  <string>c.lje.glif</string>
  <key>c.nje</key>
  <string>c.nje.glif</string>
  <key>c.sha</key>
  <string>c.sha.glif</string>
  <key>c.shcha</key>
  <string>c.shcha.glif</string>
  <key>c.soft</key>
  <string>c.soft.glif</string>
  <key>c.sups</key>
  <string>c.sups.glif</string>
  <key>c.te.SRB</key>
  <string>c.te.S_R_B_.glif</string>
  <key>c.tse</key>
  <string>c.tse.glif</string>
  <key>c.ve</key>
  <string>c.ve.glif</string>
  <key>c.ya</key>
  <string>c.ya.glif</string>
  <key>c.yat</key>
  <string>c.yat.glif</string>
  <key>c.yeru</key>
  <string>c.yeru.glif</string>
  <key>c.yu</key>
  <string>c.yu.glif</string>
  <key>c.ze</key>
  <string>c.ze.glif</string>
  <key>c.zhe</key>
  <string>c.zhe.glif</string>
  <key>cadauna</key>
  <string>cadauna.glif</string>
  <key>candrabinducomb</key>
  <string>candrabinducomb.glif</string>
  <key>candrabinducomb.cap</key>
  <string>candrabinducomb.cap.glif</string>
  <key>caret</key>
  <string>caret.glif</string>
  <key>caron.smcp</key>
  <string>caron.smcp.glif</string>
  <key>caronbelowcomb</key>
  <string>caronbelowcomb.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caroncomb.cap</key>
  <string>caroncomb.cap.glif</string>
  <key>caronslovak</key>
  <string>caronslovak.glif</string>
  <key>caronslovak.cap</key>
  <string>caronslovak.cap.glif</string>
  <key>ccurl</key>
  <string>ccurl.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cent.smcp</key>
  <string>cent.smcp.glif</string>
  <key>centreline</key>
  <string>centreline.glif</string>
  <key>chi</key>
  <string>chi.glif</string>
  <key>chook</key>
  <string>chook.glif</string>
  <key>circumflex.smcp</key>
  <string>circumflex.smcp.glif</string>
  <key>circumflexacutecomb</key>
  <string>circumflexacutecomb.glif</string>
  <key>circumflexacutecomb.cap</key>
  <string>circumflexacutecomb.cap.glif</string>
  <key>circumflexbelowcomb</key>
  <string>circumflexbelowcomb.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexcomb.cap</key>
  <string>circumflexcomb.cap.glif</string>
  <key>circumflexgravecomb</key>
  <string>circumflexgravecomb.glif</string>
  <key>circumflexgravecomb.cap</key>
  <string>circumflexgravecomb.cap.glif</string>
  <key>circumflexhookcomb</key>
  <string>circumflexhookcomb.glif</string>
  <key>circumflexhookcomb.cap</key>
  <string>circumflexhookcomb.cap.glif</string>
  <key>circumflextildecomb</key>
  <string>circumflextildecomb.glif</string>
  <key>circumflextildecomb.cap</key>
  <string>circumflextildecomb.cap.glif</string>
  <key>closeup</key>
  <string>closeup.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaabovecomb</key>
  <string>commaabovecomb.glif</string>
  <key>commaabovecomb.cap</key>
  <string>commaabovecomb.cap.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commaaccentturnedabovecomb</key>
  <string>commaaccentturnedabovecomb.glif</string>
  <key>commaaccentturnedabovecomb.cap</key>
  <string>commaaccentturnedabovecomb.cap.glif</string>
  <key>commarevabovecomb</key>
  <string>commarevabovecomb.glif</string>
  <key>commarevabovecomb.cap</key>
  <string>commarevabovecomb.cap.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>crossmodifier</key>
  <string>crossmodifier.glif</string>
  <key>cstretched</key>
  <string>cstretched.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d.sups</key>
  <string>d.sups.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dalet</key>
  <string>dalet.glif</string>
  <key>dblgravecomb</key>
  <string>dblgravecomb.glif</string>
  <key>dblgravecomb.cap</key>
  <string>dblgravecomb.cap.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>dcurl</key>
  <string>dcurl.glif</string>
  <key>ddblstruckitalic</key>
  <string>ddblstruckitalic.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>degreeC</key>
  <string>degreeC_.glif</string>
  <key>degreeF</key>
  <string>degreeF_.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>deltaLatin</key>
  <string>deltaL_atin.glif</string>
  <key>dhook</key>
  <string>dhook.glif</string>
  <key>dialytikacomb</key>
  <string>dialytikacomb.glif</string>
  <key>dialytikatonoscomb</key>
  <string>dialytikatonoscomb.glif</string>
  <key>dieresis.smcp</key>
  <string>dieresis.smcp.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dieresiscomb.cap</key>
  <string>dieresiscomb.cap.glif</string>
  <key>digamma</key>
  <string>digamma.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar.OP</key>
  <string>dollar.O_P_.glif</string>
  <key>dollar.smcp</key>
  <string>dollar.smcp.glif</string>
  <key>dong</key>
  <string>dong.glif</string>
  <key>dotaccent.smcp</key>
  <string>dotaccent.smcp.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotaccentcomb.cap</key>
  <string>dotaccentcomb.cap.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dpalatal</key>
  <string>dpalatal.glif</string>
  <key>dtail</key>
  <string>dtail.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.sups</key>
  <string>e.sups.glif</string>
  <key>edblstruckitalic</key>
  <string>edblstruckitalic.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.LP</key>
  <string>eight.L_P_.glif</string>
  <key>eight.OP</key>
  <string>eight.O_P_.glif</string>
  <key>eight.OT</key>
  <string>eight.O_T_.glif</string>
  <key>eight.SP</key>
  <string>eight.S_P_.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>eopen</key>
  <string>eopen.glif</string>
  <key>eopenclosed</key>
  <string>eopenclosed.glif</string>
  <key>eopenreversed</key>
  <string>eopenreversed.glif</string>
  <key>eopenreversedclosed</key>
  <string>eopenreversedclosed.glif</string>
  <key>eopenreversedhook</key>
  <string>eopenreversedhook.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>epsilonlunate</key>
  <string>epsilonlunate.glif</string>
  <key>epsilonlunatereversed</key>
  <string>epsilonlunatereversed.glif</string>
  <key>epsilonlunatereversed.smcp</key>
  <string>epsilonlunatereversed.smcp.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equalbelowcomb</key>
  <string>equalbelowcomb.glif</string>
  <key>equalsuperior</key>
  <string>equalsuperior.glif</string>
  <key>ereversed</key>
  <string>ereversed.glif</string>
  <key>escript</key>
  <string>escript.glif</string>
  <key>esmallcap</key>
  <string>esmallcap.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f.sups</key>
  <string>f.sups.glif</string>
  <key>fax</key>
  <string>fax.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.LP</key>
  <string>five.L_P_.glif</string>
  <key>five.OP</key>
  <string>five.O_P_.glif</string>
  <key>five.OT</key>
  <string>five.O_T_.glif</string>
  <key>five.SP</key>
  <string>five.S_P_.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.LP</key>
  <string>four.L_P_.glif</string>
  <key>four.OP</key>
  <string>four.O_P_.glif</string>
  <key>four.OT</key>
  <string>four.O_T_.glif</string>
  <key>four.SP</key>
  <string>four.S_P_.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>franc</key>
  <string>franc.glif</string>
  <key>franc.smcp</key>
  <string>franc.smcp.glif</string>
  <key>g.sups</key>
  <string>g.sups.glif</string>
  <key>gamma</key>
  <string>gamma.glif</string>
  <key>gammaLatin</key>
  <string>gammaL_atin.glif</string>
  <key>gammaLatinraised</key>
  <string>gammaL_atinraised.glif</string>
  <key>gammadblstruck</key>
  <string>gammadblstruck.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>ghook</key>
  <string>ghook.glif</string>
  <key>gimel</key>
  <string>gimel.glif</string>
  <key>glottalraised</key>
  <string>glottalraised.glif</string>
  <key>glottalreversedraised</key>
  <string>glottalreversedraised.glif</string>
  <key>glottalreversedraisedsmall</key>
  <string>glottalreversedraisedsmall.glif</string>
  <key>grave.smcp</key>
  <string>grave.smcp.glif</string>
  <key>gravebelowcomb</key>
  <string>gravebelowcomb.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravecomb.cap</key>
  <string>gravecomb.cap.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>gscript</key>
  <string>gscript.glif</string>
  <key>gsmallcap</key>
  <string>gsmallcap.glif</string>
  <key>gsmallcaphook</key>
  <string>gsmallcaphook.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>h.sups</key>
  <string>h.sups.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>halfringcentredleft</key>
  <string>halfringcentredleft.glif</string>
  <key>halfringcentredright</key>
  <string>halfringcentredright.glif</string>
  <key>halfringleft</key>
  <string>halfringleft.glif</string>
  <key>halfringleftbelowcomb</key>
  <string>halfringleftbelowcomb.glif</string>
  <key>halfringright</key>
  <string>halfringright.glif</string>
  <key>halfringrightbelowcomb</key>
  <string>halfringrightbelowcomb.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hhookraised</key>
  <string>hhookraised.glif</string>
  <key>hitalic</key>
  <string>hitalic.glif</string>
  <key>hookabovecomb</key>
  <string>hookabovecomb.glif</string>
  <key>hookabovecomb.cap</key>
  <string>hookabovecomb.cap.glif</string>
  <key>hookpalatalizedcomb</key>
  <string>hookpalatalizedcomb.glif</string>
  <key>hookretroflexcomb</key>
  <string>hookretroflexcomb.glif</string>
  <key>horncomb</key>
  <string>horncomb.glif</string>
  <key>horncomb.cap</key>
  <string>horncomb.cap.glif</string>
  <key>hturnedraised</key>
  <string>hturnedraised.glif</string>
  <key>hungarumlaut.smcp</key>
  <string>hungarumlaut.smcp.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hungarumlautcomb.cap</key>
  <string>hungarumlautcomb.cap.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenbullet</key>
  <string>hyphenbullet.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.dotless</key>
  <string>i.dotless.glif</string>
  <key>i.sups</key>
  <string>i.sups.glif</string>
  <key>ibar</key>
  <string>ibar.glif</string>
  <key>ibar.smcp</key>
  <string>ibar.smcp.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idblstruckitalic</key>
  <string>idblstruckitalic.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>information</key>
  <string>information.glif</string>
  <key>inverteddblarchbelowcomb</key>
  <string>inverteddblarchbelowcomb.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.dotless</key>
  <string>j.dotless.glif</string>
  <key>j.sups</key>
  <string>j.sups.glif</string>
  <key>jcaron</key>
  <string>jcaron.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>jdblstruckitalic</key>
  <string>jdblstruckitalic.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k.sups</key>
  <string>k.sups.glif</string>
  <key>kappa</key>
  <string>kappa.glif</string>
  <key>kappa1</key>
  <string>kappa1.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>khook</key>
  <string>khook.glif</string>
  <key>khook.smcp</key>
  <string>khook.smcp.glif</string>
  <key>koppa</key>
  <string>koppa.glif</string>
  <key>koppanumeric</key>
  <string>koppanumeric.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l.sups</key>
  <string>l.sups.glif</string>
  <key>lambda</key>
  <string>lambda.glif</string>
  <key>lbar</key>
  <string>lbar.glif</string>
  <key>lbar.smcp</key>
  <string>lbar.smcp.glif</string>
  <key>lbbar</key>
  <string>lbbar.glif</string>
  <key>lengthfull</key>
  <string>lengthfull.glif</string>
  <key>lengthhalf</key>
  <string>lengthhalf.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lira</key>
  <string>lira.glif</string>
  <key>lira.smcp</key>
  <string>lira.smcp.glif</string>
  <key>liraTurkish</key>
  <string>liraT_urkish.glif</string>
  <key>litre</key>
  <string>litre.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longdash</key>
  <string>longdash.glif</string>
  <key>lowlinecomb</key>
  <string>lowlinecomb.glif</string>
  <key>lowlinedblcomb</key>
  <string>lowlinedblcomb.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>lwavybar</key>
  <string>lwavybar.glif</string>
  <key>lwavybar.smcp</key>
  <string>lwavybar.smcp.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.sups</key>
  <string>m.sups.glif</string>
  <key>macron.smcp</key>
  <string>macron.smcp.glif</string>
  <key>macronbelow</key>
  <string>macronbelow.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macroncomb.cap</key>
  <string>macroncomb.cap.glif</string>
  <key>mathspacemedium</key>
  <string>mathspacemedium.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minusbelowcomb</key>
  <string>minusbelowcomb.glif</string>
  <key>minuscommercial</key>
  <string>minuscommercial.glif</string>
  <key>minusmodifier</key>
  <string>minusmodifier.glif</string>
  <key>minussuperior</key>
  <string>minussuperior.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>multiplycomb</key>
  <string>multiplycomb.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.sups</key>
  <string>n.sups.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.LP</key>
  <string>nine.L_P_.glif</string>
  <key>nine.OP</key>
  <string>nine.O_P_.glif</string>
  <key>nine.OT</key>
  <string>nine.O_T_.glif</string>
  <key>nine.SP</key>
  <string>nine.S_P_.glif</string>
  <key>nine.numr</key>
  <string>nine.numr.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>nu</key>
  <string>nu.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.sups</key>
  <string>o.sups.glif</string>
  <key>obar</key>
  <string>obar.glif</string>
  <key>obar.smcp</key>
  <string>obar.smcp.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>ohorn</key>
  <string>ohorn.glif</string>
  <key>ohorntilde</key>
  <string>ohorntilde.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>omicron</key>
  <string>omicron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.LP</key>
  <string>one.L_P_.glif</string>
  <key>one.OP</key>
  <string>one.O_P_.glif</string>
  <key>one.OT</key>
  <string>one.O_T_.glif</string>
  <key>one.SP</key>
  <string>one.S_P_.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oscript</key>
  <string>oscript.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>overline</key>
  <string>overline.glif</string>
  <key>overlinecomb</key>
  <string>overlinecomb.glif</string>
  <key>overlinecomb.cap</key>
  <string>overlinecomb.cap.glif</string>
  <key>overlinedblcomb</key>
  <string>overlinedblcomb.glif</string>
  <key>overlinedblcomb.cap</key>
  <string>overlinedblcomb.cap.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p.sups</key>
  <string>p.sups.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphreversed</key>
  <string>paragraphreversed.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.upright</key>
  <string>parenleft.upright.glif</string>
  <key>parenleftsuperior</key>
  <string>parenleftsuperior.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright.upright</key>
  <string>parenright.upright.glif</string>
  <key>parenrightsuperior</key>
  <string>parenrightsuperior.glif</string>
  <key>per</key>
  <string>per.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>pertenthousand</key>
  <string>pertenthousand.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>perzero</key>
  <string>perzero.glif</string>
  <key>peseta</key>
  <string>peseta.glif</string>
  <key>peseta.smcp</key>
  <string>peseta.smcp.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>phi1</key>
  <string>phi1.glif</string>
  <key>phook</key>
  <string>phook.glif</string>
  <key>phook.smcp</key>
  <string>phook.smcp.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>pi1</key>
  <string>pi1.glif</string>
  <key>pidblstruck</key>
  <string>pidblstruck.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusbelowcomb</key>
  <string>plusbelowcomb.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>plusmodifier</key>
  <string>plusmodifier.glif</string>
  <key>plussuperior</key>
  <string>plussuperior.glif</string>
  <key>prescription</key>
  <string>prescription.glif</string>
  <key>prime</key>
  <string>prime.glif</string>
  <key>primereversed</key>
  <string>primereversed.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>publish</key>
  <string>publish.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>q.sups</key>
  <string>q.sups.glif</string>
  <key>quarteremspace</key>
  <string>quarteremspace.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r.sups</key>
  <string>r.sups.glif</string>
  <key>reference</key>
  <string>reference.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>response</key>
  <string>response.glif</string>
  <key>rho</key>
  <string>rho.glif</string>
  <key>rho1</key>
  <string>rho1.glif</string>
  <key>rhotichook</key>
  <string>rhotichook.glif</string>
  <key>ring.smcp</key>
  <string>ring.smcp.glif</string>
  <key>ringbelowcomb</key>
  <string>ringbelowcomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb.cap</key>
  <string>ringcomb.cap.glif</string>
  <key>rouble</key>
  <string>rouble.glif</string>
  <key>rsmallcapturnedraised</key>
  <string>rsmallcapturnedraised.glif</string>
  <key>rturnedhookraised</key>
  <string>rturnedhookraised.glif</string>
  <key>rturnedraised</key>
  <string>rturnedraised.glif</string>
  <key>rupee</key>
  <string>rupee.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s.sups</key>
  <string>s.sups.glif</string>
  <key>samaritansource</key>
  <string>samaritansource.glif</string>
  <key>sampi</key>
  <string>sampi.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>schwahook</key>
  <string>schwahook.glif</string>
  <key>scruple</key>
  <string>scruple.glif</string>
  <key>seagullbelowcomb</key>
  <string>seagullbelowcomb.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolonreversed</key>
  <string>semicolonreversed.glif</string>
  <key>service</key>
  <string>service.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.LP</key>
  <string>seven.L_P_.glif</string>
  <key>seven.OP</key>
  <string>seven.O_P_.glif</string>
  <key>seven.OT</key>
  <string>seven.O_T_.glif</string>
  <key>seven.SP</key>
  <string>seven.S_P_.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>sigmafinal</key>
  <string>sigmafinal.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.LP</key>
  <string>six.L_P_.glif</string>
  <key>six.OP</key>
  <string>six.O_P_.glif</string>
  <key>six.OT</key>
  <string>six.O_T_.glif</string>
  <key>six.SP</key>
  <string>six.S_P_.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>sixthemspace</key>
  <string>sixthemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slashcomb</key>
  <string>slashcomb.glif</string>
  <key>slashlongcomb</key>
  <string>slashlongcomb.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>squarebelowcomb</key>
  <string>squarebelowcomb.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>sterling.OP</key>
  <string>sterling.O_P_.glif</string>
  <key>sterling.smcp</key>
  <string>sterling.smcp.glif</string>
  <key>stigma</key>
  <string>stigma.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t.sups</key>
  <string>t.sups.glif</string>
  <key>tackdown</key>
  <string>tackdown.glif</string>
  <key>tackdownbelowcomb</key>
  <string>tackdownbelowcomb.glif</string>
  <key>tackleftbelowcomb</key>
  <string>tackleftbelowcomb.glif</string>
  <key>tackrightbelowcomb</key>
  <string>tackrightbelowcomb.glif</string>
  <key>tackup</key>
  <string>tackup.glif</string>
  <key>tackupbelowcomb</key>
  <string>tackupbelowcomb.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tel</key>
  <string>tel.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>theta1</key>
  <string>theta1.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thirdemspace</key>
  <string>thirdemspace.glif</string>
  <key>thook</key>
  <string>thook.glif</string>
  <key>thook.smcp</key>
  <string>thook.smcp.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.LP</key>
  <string>three.L_P_.glif</string>
  <key>three.OP</key>
  <string>three.O_P_.glif</string>
  <key>three.OT</key>
  <string>three.O_T_.glif</string>
  <key>three.SP</key>
  <string>three.S_P_.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tie</key>
  <string>tie.glif</string>
  <key>tilde.smcp</key>
  <string>tilde.smcp.glif</string>
  <key>tildebelowcomb</key>
  <string>tildebelowcomb.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildecomb.cap</key>
  <string>tildecomb.cap.glif</string>
  <key>tildelongcomb</key>
  <string>tildelongcomb.glif</string>
  <key>tildelongcomb.cap</key>
  <string>tildelongcomb.cap.glif</string>
  <key>tonebarXhigh</key>
  <string>tonebarX_high.glif</string>
  <key>tonebarXlow</key>
  <string>tonebarX_low.glif</string>
  <key>tonebarhigh</key>
  <string>tonebarhigh.glif</string>
  <key>tonebarlow</key>
  <string>tonebarlow.glif</string>
  <key>tonebarmid</key>
  <string>tonebarmid.glif</string>
  <key>tonoscomb</key>
  <string>tonoscomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tretroflex</key>
  <string>tretroflex.glif</string>
  <key>tretroflex.smcp</key>
  <string>tretroflex.smcp.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.LP</key>
  <string>two.L_P_.glif</string>
  <key>two.OP</key>
  <string>two.O_P_.glif</string>
  <key>two.OT</key>
  <string>two.O_T_.glif</string>
  <key>two.SP</key>
  <string>two.S_P_.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>twodotenleader</key>
  <string>twodotenleader.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u.sups</key>
  <string>u.sups.glif</string>
  <key>ubar</key>
  <string>ubar.glif</string>
  <key>ubar.smcp</key>
  <string>ubar.smcp.glif</string>
  <key>uhorn</key>
  <string>uhorn.glif</string>
  <key>unaspiratedmark</key>
  <string>unaspiratedmark.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>underscoredbl</key>
  <string>underscoredbl.glif</string>
  <key>uni20D0</key>
  <string>uni20D_0.glif</string>
  <key>uni20D1</key>
  <string>uni20D_1.glif</string>
  <key>uni20D2</key>
  <string>uni20D_2.glif</string>
  <key>uni20D6</key>
  <string>uni20D_6.glif</string>
  <key>uni20D7</key>
  <string>uni20D_7.glif</string>
  <key>uni20DB</key>
  <string>uni20D_B_.glif</string>
  <key>uni20DC</key>
  <string>uni20D_C_.glif</string>
  <key>uni20DD</key>
  <string>uni20D_D_.glif</string>
  <key>uni20DE</key>
  <string>uni20D_E_.glif</string>
  <key>uni20DF</key>
  <string>uni20D_F_.glif</string>
  <key>uni20E1</key>
  <string>uni20E_1.glif</string>
  <key>uni20E4</key>
  <string>uni20E_4.glif</string>
  <key>uni20E5</key>
  <string>uni20E_5.glif</string>
  <key>uni20E6</key>
  <string>uni20E_6.glif</string>
  <key>uni20E7</key>
  <string>uni20E_7.glif</string>
  <key>uni20E8</key>
  <string>uni20E_8.glif</string>
  <key>uni20E9</key>
  <string>uni20E_9.glif</string>
  <key>uni20EA</key>
  <string>uni20E_A_.glif</string>
  <key>uni20EB</key>
  <string>uni20E_B_.glif</string>
  <key>uni20EC</key>
  <string>uni20E_C_.glif</string>
  <key>uni20ED</key>
  <string>uni20E_D_.glif</string>
  <key>uni20EE</key>
  <string>uni20E_E_.glif</string>
  <key>uni20EF</key>
  <string>uni20E_F_.glif</string>
  <key>uni20F0</key>
  <string>uni20F_0.glif</string>
  <key>uni2105</key>
  <string>uni2105.glif</string>
  <key>uni2107</key>
  <string>uni2107.glif</string>
  <key>uni210F</key>
  <string>uni210F_.glif</string>
  <key>uni2125</key>
  <string>uni2125.glif</string>
  <key>uni2127</key>
  <string>uni2127.glif</string>
  <key>uni2129</key>
  <string>uni2129.glif</string>
  <key>uni2140</key>
  <string>uni2140.glif</string>
  <key>uni2141</key>
  <string>uni2141.glif</string>
  <key>uni2142</key>
  <string>uni2142.glif</string>
  <key>uni2143</key>
  <string>uni2143.glif</string>
  <key>uni2144</key>
  <string>uni2144.glif</string>
  <key>uni214A</key>
  <string>uni214A_.glif</string>
  <key>uni214B</key>
  <string>uni214B_.glif</string>
  <key>uni2423</key>
  <string>uni2423.glif</string>
  <key>uni2423.var</key>
  <string>uni2423.var.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>upsilon</key>
  <string>upsilon.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>v.sups</key>
  <string>v.sups.glif</string>
  <key>versicle</key>
  <string>versicle.glif</string>
  <key>vhook</key>
  <string>vhook.glif</string>
  <key>vhook.smcp</key>
  <string>vhook.smcp.glif</string>
  <key>vline</key>
  <string>vline.glif</string>
  <key>vlinebelow</key>
  <string>vlinebelow.glif</string>
  <key>vlinebelowcomb</key>
  <string>vlinebelowcomb.glif</string>
  <key>vlinecomb</key>
  <string>vlinecomb.glif</string>
  <key>vlinecomb.cap</key>
  <string>vlinecomb.cap.glif</string>
  <key>vlinedblcomb</key>
  <string>vlinedblcomb.glif</string>
  <key>vlinedblcomb.cap</key>
  <string>vlinedblcomb.cap.glif</string>
  <key>voicingmark</key>
  <string>voicingmark.glif</string>
  <key>vtildecomb</key>
  <string>vtildecomb.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>w.sups</key>
  <string>w.sups.glif</string>
  <key>wavybarcomb</key>
  <string>wavybarcomb.glif</string>
  <key>weierstrass</key>
  <string>weierstrass.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x.sups</key>
  <string>x.sups.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y.sups</key>
  <string>y.sups.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yen.OP</key>
  <string>yen.O_P_.glif</string>
  <key>yen.smcp</key>
  <string>yen.smcp.glif</string>
  <key>z.sups</key>
  <string>z.sups.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.LP</key>
  <string>zero.L_P_.glif</string>
  <key>zero.OP</key>
  <string>zero.O_P_.glif</string>
  <key>zero.OT</key>
  <string>zero.O_T_.glif</string>
  <key>zero.SP</key>
  <string>zero.S_P_.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zeta</key>
  <string>zeta.glif</string>
</dict>
</plist>
